@import '../variables.scss';

.basic-card{
    .card{
      border-radius: 0px;
      text-align: left;
      margin-bottom: 2rem;
      max-height: 620px;
      max-width: 350px;
      overflow: hidden;
  
      .card-body{
        padding: 14px;

        &.header, &.content{
          border-bottom: 1px solid #ebebf3;
        
          h5{
            margin-bottom: 0px;
          }
          p {
            font-size: 0.89em;
          }
        }

        &.content{
          min-height: 125px;
        }

        &.footer{
          background: $gray-card-button-footer;
          font-size: 0.89em;
        }

        .btn-next {
          width: 25px;
          height: 25px;
          padding: 0;
          border: 1px solid $gray-card-button-border;
          background: $gray-card-button-background;
          svg{
            color: $gray-card-button-text;
            max-width: 6px;
            position: relative;
            top: -3px;
          }
        }
      }
    }
  }

  .notification-card{
    .card{
      border-radius: 0px;
      text-align: left;
      margin-bottom: 2rem;
      max-height: 620px;
      max-width: 350px;
      overflow: hidden;

      .card-body{
        padding: 14px;

        &.header{
          padding-bottom: 10px;
          h5{
            margin-bottom: 0px;
          }
        }

        &.content{
          padding-top: 10px;
          padding-bottom: 10px;
          p{
            margin-bottom: 15px;
            font-size: 0.89em;
          }
        }

        .align-center{
          display: table;
          min-height: 28px;

          .timestamp{
            color: $wolfgray;
            font-size: 0.67em;
            margin-bottom: 0px;
            vertical-align: middle;
            display: table-cell;
          }
        }
      }
    }
  }