@import '../variables.scss';

.basic-card{
    .card{
      border-radius: 0px;
      text-align: left;
      margin-bottom: 2rem;
      max-height: 620px;
      max-width: 100%;
      // width: 350px;
      overflow: hidden;
  
      .card-body{
        padding: 14px;

        &.header, &.content{
          border-bottom: 1px solid #ebebf3;
        
          h5{
            margin-bottom: 0px;
          }
          p {
            font-size: 0.8em;
          }
        }

        &.content{
          min-height: 125px;
        }

        &.footer{
          background: $gray-card-button-footer;
          font-size: 0.8em;
        }

        .btn-next {
          width: 25px;
          height: 25px;
          padding: 0;
          border: 1px solid $gray-card-button-border;
          background: $gray-card-button-background;
          svg{
            color: $gray-card-button-text;
            max-width: 6px;
            position: relative;
            top: -3px;
          }
        }
      }
    }
  }

  .basic-card-2{
    .card{
      border-radius: 0px;
      text-align: left;
      margin-bottom: 2rem;
      max-height: 620px;
      max-width: 100%;
      // width: 350px;
      overflow: hidden;
  
      .card-body{
        padding: 14px;
        &.header {
          background-color: #faf9fd;
          
        }
        &.header{
          border: solid 1px #eaeef5;
        
          h5{
            margin-bottom: 0px;
          }
          p {
            font-size: 0.8em;
          }
        }
        &.content{
          padding: 0;
          padding-bottom: 14px;
          padding-top: 14px;
          margin-left: 14px;
          margin-right: 14px;
          border-bottom: 1px solid $gray-card-button-border;
  
          &:nth-last-child(2){
            border-bottom: none;
          }
          p{
            margin-bottom: 0px;
            font-size: 0.8em;
          }
          .amount{
            font-size: 0.8em;
            color: $text-gray;
          }
        }

        &.footer{
          background: $gray-card-button-footer;
          font-size: 0.8em;
        }

        .btn-next {
          width: 25px;
          height: 25px;
          padding: 0;
          border: 1px solid $gray-card-button-border;
          background: $gray-card-button-background;
          svg{
            color: $gray-card-button-text;
            max-width: 6px;
            position: relative;
            top: -3px;
          }
        }
      }
    }
  }

  .notification-card{
    .card{
      border-radius: 0px;
      text-align: left;
      margin-bottom: 2rem;
      max-height: 620px;
      max-width: 100%;
      // width: 350px;
      overflow: hidden;
      cursor: pointer;

      .card-body{
        padding: 14px;

        &.header{
          padding-bottom: 10px;
          h5{
            margin-bottom: 0px;
          }
        }

        &.content{
          padding-top: 10px;
          padding-bottom: 10px;
          p{
            margin-bottom: 15px;
            font-size: 0.8em;
          }
        }

        .align-center{
          display: table;
          min-height: 28px;

          .timestamp{
            color: $wolfgray;
            font-size: 0.67em;
            margin-bottom: 0px;
            vertical-align: middle;
            display: table-cell;
          }
        }
      }
    }
  }

  .basic-list-card{
    .card{
      border-radius: 0px;
      text-align: left;
      margin-bottom: 2rem;
      max-height: 620px;
      max-width: 100%;
      // width: 350px;
      overflow: hidden;
    }

    .card-body{
      &.header{
        padding: 14px;
        background: $gray-list-basic-list-card;
        border: 1px solid $gray-list-card-border;
        h5{
          margin-bottom: 0px;
        }
      }

      &.content{
        padding: 0;
        padding-bottom: 14px;
        padding-top: 14px;
        margin-left: 14px;
        margin-right: 14px;
        border-bottom: 1px solid $gray-card-button-border;

        &:nth-last-child(2){
          border-bottom: none;
        }
        p{
          margin-bottom: 0px;
          font-size: 0.8em;
        }
        .amount{
          font-size: 0.8em;
          color: $text-gray;
        }
      }

      &.footer{
        border: 1px solid $gray-disabled-border;
        background: $gray-card-button-footer;
        padding: 14px;
        font-size: 0.8em;

        button{
          font-size: 0.8em;
          padding-left: 18px;
          padding-right: 18px;
        }
        p{
          margin-bottom: 0px;
          margin-top: 7px;
        }
      }

      .row{
        line-height: 1.2;

        .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, 
        .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
          &:first-child{
            padding-left: 14px;
          }
          &:last-child{
            padding-right: 14px;
          }
          padding-right: 5px;
          padding-left: 5px;
        }
      }
    }
  }

  .list-card-with-time{
    .card{
      border-radius: 0px;
      text-align: left;
      margin-bottom: 2rem;
      max-height: 620px;
      max-width: 100%;
      // width: 350px;
      overflow: hidden;
    }

    .card-body{
      padding: 14px;

      &.header{
        background: $darkblue;
        border: 1px solid $gray-list-card-border;
        h5{
          margin-bottom: 0px;
          color: #fff;
        }
      }

      &.content{
        cursor: pointer;
        &:not(:last-child){
          border-bottom: 1px solid $gray-card-button-border;
        }
        &.odd{
          background: $gray-card-button-footer;
        }

        .row{
          line-height: 1.2;

          .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, 
          .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
            &:first-child{
              padding-left: 14px;
            }
            &:last-child{
              padding-right: 14px;
            }
            padding-right: 5px;
            padding-left: 5px;
          }
        }

        .content-text{
          p{
            margin-bottom: 0px;

            &.title{
              font-size: 0.8em;
            }
            &.subtitle{
              font-size: 0.67em;
            }
          }
        }

        .timestamp{
          padding-top: 4px;
          .month{
            font-size: 0.5em;
            display: block;
            position: relative;
            text-transform: uppercase;
            color: $wolfgray;
          }
          .date{
            font-size: 1em;
            display: block;
            position: relative;
            top: -5px;
            color: $wolfgray;
          }
        }

        .amount{
          padding-top: 8px;
          font-size: 0.8em;
          .debit{
            color: $red;
          }
          .credit{
            color: $lightgreen;
          }
        }
      }
    }
  }