.dashboard-container{
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  margin-left: -4px;
  margin-right: -4px;
  
}

.card-footer-button-left{
  font-size: 12px !important;
}
.card-footer-button-right{
  font-size: 12px !important;
  float: right;
}