@import '../variables.scss';

.dashboard-container{
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  margin-left: -4px;
  margin-right: -4px;
  background: $gray-bg;
  margin-top: -18px; 
}

.profile-data{
  border-radius: 0px !important;
  margin-bottom: 0px;
  border-bottom: 0px !important;
  .card-body{
    padding: 14px;
    .profile-title{
      display: inline-block;
      margin-bottom: 0px;
      margin-right: 10px;
    }
    .profile-label{
      display: inline-block;
      top: -3px;
      position: relative;
    }
    .id-number{
      font-size: 12px;
      color: $wolfgray;
      position: relative;
      top: -2px;
    }
  }
  
}

.card-footer-button-left{
  font-size: 12px !important;
}
.card-footer-button-right{
  font-size: 12px !important;
  float: right;
}