$brand: #08f;

.form-group{
    &.custom{
      label{
        background: #FFF;
        position: absolute;
        color: #BFBFBF;
        margin: 0.8rem;
        margin-left: 1rem;
        z-index: 0;
        transition: 0.3s;
        cursor: text;
        
        &.active{
          margin: -0.5rem;
          margin-left: 0.5rem;
          color: #333;
          transition: 0.3s;
          padding-left: 0.25rem;
          padding-right: 0.25rem;
          font-size: 12px;
          z-index: 2;
          &.focused{
            color: $brand;
          }
        }
      }
    
      .form-control{
        background: none;
        position: relative;
        z-index: 1;
        padding-top: 12px;
        padding-bottom: 12px;
        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari and Chrome */
        appearance:none;
            
        &:focus{
          border-color: 1px solid $brand;
          box-shadow: 0 0 0 0 transparent;
          background: none;
        }
    
        &:not([size]):not([multiple]){
          height: auto;
        }
      }
    
        .arrow-down{
          position: absolute;
          top: 1rem;
          right: 1rem;
          padding-left: 0.5rem;
          width: auto;
          color: #AFAFAF;
        }
    }
  }

  // Select2
  .react-select__control{
    padding-top: 7px;
    padding-bottom: 6px;
    background: none !important;
    border-radius: 0.25rem;

    &.react-select__control--is-focused{
      border: 0.5px solid #80bdff !important;
      box-shadow: 0px 0px 0px 0px transparent !important;
    }

    &.react-select__control--is-disabled{
      background: rgba(100,100,100,0.1) !important;
    }

    .react-select__indicator-separator{
      background-color: transparent !important;
    }

    .css-va7pk8{
      margin-left: 4px !important;
    }
  
    .css-rsyb7x{
      input {
        margin-left: 4px !important;
      }
    }
  }

  .react-select__menu{
    z-index: 999 !important;
  }
  // End Select2