@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

$brand: #08f;

.loading{
    background: $brand;
    color: $brand;
    height: 3px;
    position: absolute;
}

img{
    &.brand{
        max-height: 25px;
        min-height: 25px;
        min-width: 145px;
    }
}