@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,400i,600,700');
@import "node_modules/@coreui/coreui/scss/coreui";
@import "variables.scss";

$brand: #08f;

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif !important;
  color: #343434;
  font-size: 18px !important;

  @media screen and (max-width: 1279){
    font-size: 14px;
  }

  @media screen and (max-width: 768px){
    font-size: 13px;
  }

  p{
    color: $text-gray;
  }
}

img{
    &.brand{
        max-height: 25px;
        min-height: 25px;
        min-width: 145px;
    }
}

.navbar{
  position: fixed !important;
}

.sidebar-fixed{
  .sidebar{
    width: 250px;
  }
}

.sidebar{
    background: $brand;
    .nav{
      background: #fff;
      border-right: 1px solid #efefef;
    }
    .nav-link{
      color: #333;
      &:hover{
        background: #5f9aff;
        color: #fff !important;
        .nav-icon{
          &:before{
            color: #fff !important;
          }
        }
      }
      &.active{
        color: #fff !important;
        background: $brand;
        .nav-icon{
          &:before{
            color: #fff !important;
          }
        }
      }
      .nav-icon{
        color: #333;
      }
    }
    .nav-dropdown{
      &.open{
        background: #e9edff;
        .nav-link, .nav-icon{
          &:before{
            color: #333;
          }
          color: #333;
        }
      }
    }
  .sidebar-nav{
    width: 250px;
  }
  ul.nav{
    width: 250px;
  }

  .sidebar-minimizer{
    background-color: #efefef;
    &:hover{
      background-color: $brand;
    }
  }
}

.sidebar-minimized{
  .sidebar{
    .nav{
      >.nav-dropdown{
        >.nav-dropdown-items{
          background: #fff;
          border: 0.5px solid #afafaf;
        }
      }
    }
    .nav-link{
      &:hover{
        background: #5f9aff;
      }
    }
  }
}

.main{
  padding: 3rem;
  .section-title{
    margin-bottom: 1rem;
  }
}

html:not([dir="rtl"]){
  .sidebar{
    margin-left: -250px;
  }
  .sidebar-lg-show{
    &.sidebar-fixed{
      .main{
        margin-left: 250px;

        @media screen and (max-width: 767px) {
          margin-left: 0px;
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
          margin-left: 0px;
        }
      }
    }
  }
}