.ribbon{
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  overflow: hidden;
  width: 200px;
  height: 75px;
  text-align: right;

  span{
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    width: 175px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px black;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 10px;
  }

  @media screen and (max-width: 767px){
    width: 150px;
    height: 35px;
    span{
      font-size: 10px;
      padding: 5px;
      width: auto;
    }
}
}
