$brand: #08f;
$text-gray: #575e64;
$blue: #1B77E2;
$blue-hover: #1763bb;
$yellow: #ffae1d;
$yellow-hover: #f09a00;
$darkblue: #002462;
$darkblue-hover: #00153a;
$yellow-2: #f5a623;
$gray-3: #eaecf3;
$gray-4: #cacaca;
$wolfgray: #A1A0AA;
$red: #FC4848;