$brand: #08f;
$black: #343434;
$black-tooltip: #001437;
$text-gray: #575e64;
$blue: #1B77E2;
$blue-hover: #1763bb;
$yellow: #ffae1d;
$yellow-hover: #f09a00;
$darkblue: #002462;
$darkblue-hover: #00153a;
$yellow-2: #f5a623;
$gray-1: #818181;
$gray-wizard: #eaecf3;
$gray-wizard-2: #cacaca;
$gray-accordion: #d8d8d8;
$gray-disabled-border: #eaeef5;
$gray-disabled-text: #b6b5be;
$gray-disabled-input: #f4f4f4;
$wolfgray: #A1A0AA;
$gray-toggle: #dde0ed;
$red: #FC4848;
$white: #fff;
$heading: #555b65;
$lightgreen: #72ee77;
